section.svelte-o1q8lz{max-width:75%;margin:1rem auto}ul.svelte-o1q8lz,p.svelte-o1q8lz{max-width:90%;margin:1rem auto}li.svelte-o1q8lz{list-style:none;margin-bottom:.5rem}.serv.svelte-o1q8lz{color:var(--color-s)}.seigneur.svelte-o1q8lz{color:var(--color-red)}@media (max-width: 600px){section.svelte-o1q8lz{max-width:100%}ul.svelte-o1q8lz,p.svelte-o1q8lz{max-width:90%}}
