.meta.svelte-1ug8mbl{background:var(--color-black);padding:1em 2em;border:var(--color-s) double 3px;box-shadow:var(--shadow)}.md-wrapper.svelte-1ug8mbl{padding:1em 2em}.md-wrapper.svelte-1ug8mbl :is(h2,h3){margin:1em;text-align:center}.md-wrapper.svelte-1ug8mbl p{padding:.5em 2.5em}.md-wrapper.svelte-1ug8mbl :is(ol,ul){background:var(--color-black);padding:.5em 1em;border:1px solid var(--color-s);box-shadow:car(--shadow)}.md-wrapper.svelte-1ug8mbl li{list-style:none}.md-wrapper.svelte-1ug8mbl li>:is(ol,ul){border:none}@media (max-width: 600px){.md-wrapper.svelte-1ug8mbl p{padding:unset}}
